@charset "utf-8";

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background: #FFFFFF;
    color: #666;
    font-family: 'Jua', sans-serif;

}

/* HEADER */

.header {
    position: fixed;
    transition: top 0.5s;
    display: table;
    width: 100%;
    height: 10vh;
    background: #f07677;
    z-index: 3;
    box-shadow: 0 4px 2px 0 rgba(0, 0, 0, .2);
    margin: 0 auto;
}


.headerLogo {
    display: table-cell;
    vertical-align: middle;
}


.logo {
    text-align: left;
    font-size: 24px;
    letter-spacing: 1.1px;
    color: #FFFFFF;
    text-decoration: none;
    margin: 0 0 0 5vw;
    
}

.scrollHeader {
    transition: top 1s;
}

/* MAIN */

.mainContainer {
    background-image: url("image/hangang.jpg");
    height: 80vh;
    margin: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}



/* NOTICE */

.noticeContainer {
    padding: 1rem 0 1rem 0;
    text-align: center;
    background-color: #FFFFFF;
}

.noticeWho {
    width: 100%;
    display: table;
}

.male, .female {
    color: #000000;
    font-size: 20px;
    margin: 0;
    display: table-cell;
    vertical-align: middle;
}

.male {
    text-align: right;
    padding-right: 10px;
    width: 45%;
}

.female {
    text-align: left;
    padding-left: 10px;
    width: 45%;
}


.heartContainer {
    margin: 0;
    display: table-cell;
    vertical-align: middle;
}

.heart {
    background-color: #f07677;
    height: 20px;
    transform: rotate(-45deg);
    width: 20px;
    margin: auto;
}


.heart:before,
.heart:after {
  content: "";
  background-color: #f07677;
  border-radius: 50%;
  height: 20px;
  position: absolute;
  width: 20px;
}

.heart:before {
    top: -10px;
    left: 0;
}


.vertical {
    height: 1rem;
    border-left: 2px solid #DCDCDC;
    position: absolute;
    left: 50%;
    margin: 0.5rem 0 0.5rem -1px;
}

.noticeDetail {
    margin-top: 2rem;
}

/* GREETING */

.greetingContainer {
    background: #f1f1f1;
	color: #666;
    text-align : center;
    margin: 0 auto;
    padding: 1.5rem 0;
    width: 100%;
}

.greetingInner {
    width: 80%;
    max-width: 640px;
    background: #f07677;
    margin: 0 auto;
    color: #FFFFFF;
    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.greetingHeader {
    
}

.dDay {
    padding: 1rem 0 0.5rem 0;
}

.greetingMessage {
    margin: 0 0 0.5rem 0;
}

.greetingText {
    background: #FFFFFF;
    color: #666;
    margin: 0 auto;
    padding: 1em 0;
    font-size: 0.7rem;
    max-width: 640px;
}

/* SLIDESHOW */

.slideshow {
    background-color: #FFFFFF;
    padding: 2vh 0;
}

.slideshowContainer {
    margin: 3vh auto 0 auto;
    position: relative;
}

.slideHeader {
    background-color: #FFFFFF;
    text-align: center;
    font-family: 'Satisfy', cursive;
    font-weight: 600;
    color: #f07677;
}

.slide {
    display: none;
    margin: 0 auto;
}

.slide img { 
    display: block;
    height: 40vh;
    width: auto;
    max-width: 90vw;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px 16px 16px 8px;
    margin-top: -22px;
    color: #666;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
    padding: 16px 8px 16px 16px;
}
  
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}


/* The dots/bullets/indicators */
.dotContainer {
    text-align: center;
}

.dot {
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 0 2px;
    background-color: #f07677;
    opacity: 0.3;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active,
.dot:hover {
    background-color: #f07677;
    opacity: 1;
}
  
/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}


/* GALLERY */

.gallery {
    background-color: #FFFFFF;
    padding: 2vh 0;
}

.galleryHeader {
    background-color: #FFFFFF;
    text-align: center;
    font-family: 'Satisfy', cursive;
    font-weight: 600;
    color: #f07677;
}

.galleryBody img {
    display: block;
    width: 90%;
    max-width: 640px;
    height: auto;
    margin: 3vh auto;
    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* MAP */

.map {
    background-color: #FFFFFF;
}

.mapContainer {
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    position: relative;
}

.hallMap {
    display: block;
    width: 100%;
    max-width: 640px;
    height: auto;
}

.naverMap {
    width: 10%;
    max-width: 64px;
    z-index: 2;
    position: absolute;
    top: 7%;
    left: 4%;
    box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.8);

}


/* FOOTER */

.footerContainer {
    background-color: #f07677;
    padding: 3vh 3vw;
    max-width: 640px;
    margin: 0 auto;
}

.fa-heart,
.footerWhoBody,
.fa-clock, 
.footerWhenBody,
.fa-map-marker-alt,
.footerWhereBody {
    font-size: 14px;
    color:#FFFFFF;
    display: inline-block;
}

.footerThanks p{
    border-top: 1px solid #FFFFFF;
    margin-top: 1em;
    padding-top: 1em;
    text-align: center;
    color: #FFFFFF;
    font-size: 16px;
}
